<div style="float: left; width: 50%;">

  <h3>Ez-Tree</h3>
  <h4>Node selected: <strong>{{nodeSelect?.Name}}</strong></h4>
  <ez-tree #treeComponent [tree]="tree" (onExpand)="nodeExpanded($event)" (onSelect)="nodeSelected($event)">
    <ng-template #nameTemplate let-node>
      <span [class.node-selected]="node.IsSelected">{{node.Name}}</span>
    </ng-template>
    <ng-template #toggleTemplate let-node>
      <div class="svg" [ngClass]="{'collapsed': !node.IsExpanded, 'expanded': node.IsExpanded}"></div>
    </ng-template>
    <ng-template #loadingTemplate let-node>
      <div>
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"
            transform="rotate(218.72 25 25)">
            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
          </path>
        </svg>
      </div>
    </ng-template>
  </ez-tree>

  <button (click)="selectNodeById()">Test Controller!</button>
</div>
