<ul>
  <li tabindex="-1" aria-expanded="false" (focus)="onFocus()" (blur)="onBlur()">
    <span *ngIf="!template" (click)="onToggle()">{{node.Name}}</span>
    <ng-container *ngIf="template" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: node, node: node }">
    </ng-container>
    <ng-template [ngIf]="node.HasChildren && isExpanded">
      <span *ngIf="!node.Children.length">Loading...</span>
      <ez-node *ngFor="let childNode of node.Children" [node]="childNode"></ez-node>
    </ng-template>
  </li>
</ul>
