<!-- <ul>
  <li tabindex="0" aria-expanded="true" (focus)="onTreeFocus()" (blur)="onTreeBlur()">
    <span>{{tree.Name}}</span>
    <ng-template [ngIf]="tree.HasChildren">
      <ez-node *ngFor="let child of tree.Children" [node]="child" [template]="customTemplate"></ez-node>
    </ng-template>
  </li>
</ul> -->

<ul class="tree">
    <ez-node *ngFor="let child of tree.Children" [node]="child" [template]="customTemplate"></ez-node>
</ul>

<h5>Focus: {{hasFocus}}</h5>
<h5>FocusedNode: {{focusedNode.Name}}</h5>
<h5>Tree:
  <pre>{{tree | json}}</pre>
</h5>